<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Diary Entry</h1>
</div>



<form method="post" action="/processdiary" style="margin:auto; font-size:15px;">
      Title: <textarea type="text" name="name" style="width:100%; border-radius:5px"></textarea>
      <br>
      <br>
      Picture URL: <textarea type="image" name="PicURL" style="width:100%; border-radius:5px"></textarea>
      <br>
      <br>
      Highlight: <textarea type="text" name="highlight" style="width:100%; border-radius:5px"></textarea>
      <br>
      <br>
      Details: <textarea type="text" name="details" style="width:100%; border-radius:5px"></textarea>
      <br>
      <br>
      <input type="submit" value="submit" class="btn btn-primary">

  </form>


<%- include('bootfooter') -%>
