<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>DogDiary Entry</h1>
        <p>add entry to your dog's diary</p>
    </div>

    You entered the following ..<br>

    The comments were: <br> <%= coms %>

<%- include('bootfooter') -%>
