<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to DogDiary</h1>
        <p>Every Dog's life is worth documenting!</p>
    </div>

<%- include('bootfooter') -%>
