<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to DogDiary</h1>
        <p>Every Dog's life is worth documenting!</p>
        <ul>
          <li><a href="/myform"> Click Here To Create a Diary</a></li>
          <br>
        </ul>
    </div>

<%- include('bootfooter') -%>
