<%- include('bootheader') -%>
<%- include('menubar') -%>

<br>
<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#geneinfo" data-toggle="tab" class="nav-link active">General Info</a>
    </li>
    <li class="nav-item">
        <a href="#training" data-toggle="tab" class="nav-link">Training</a>
    </li>
    <li class="nav-item">
        <a href="#salary" data-toggle="tab" class="nav-link">Salary</a>
    </li>
</ul>

<div class="tab-content">
  <div id="geneinfo" class="tab-pane">
    <br>
    <br>
    <div class="form-group">
  <label for="usr">Class Year:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Major:</label>
  <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group">
  <label for="pwd">Tutor for a class:</label>
  <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group">
  <label for="pwd">your skill:</label>
  <input type="password" class="form-control" id="pwd">
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
  </div>

  <div id="training" class="tab-pane">
    <br>
    <br>
    <h3>Please complete the Below Traning</h3>
    <p>It will take around 15 minutes.</p>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">pevious</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>


  <div id="salary" class="tab-pane">
    <br>
    <br>
    <h3>Set your rate/hour</h3>
    <p>We suggest a rate between 15-20 dollars per hour.</p>
  </div>
</div>
<%- include('bootfooter') -%>
